# IRON3313
IRON3313 is a challenge based off of Ironmon and ironmario
-----------------------------------------------
the rules are simple
1: you have to start a new save on ether 1.0.2 or a2ae
-----------------------------------------------
2: if you take any form of damage you must rest the save (this includes crashes from stanley, shadow mario and toad amalgom)
----------------------------------------------
3: any caps and koopa shells are banned will will invalidate your run.
----------------------------------------------
4: no exiting levels. exiting or fast travling will invalidate your run.
----------------------------------------------
get all 13 red star, reach star road and you win
----------------------------------------------
